.wrapper{
	text-align: center;
	font-size: 36px;
}

.header{
	padding: 30px 0px;
	color: white;
	background-color: gray;
}

.main{
	padding: 30px 0px;
	background-color: greenyellow;
}

.footer{
	padding: 30px 0px;
	background-color: burlywood;
}